__pycache__/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Local data/cache
data/
dataset/
*.zip
*.rar
*.7z
*.tar
*.tar.gz

# Python environments
.venv/
venv/
env/

# Model artifacts
*.h5
*.keras
*.pkl
*.joblib
